* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: 16px Helvetica, Arial;
	background-color: #a0d8ef; /* ‹óF */
}

form {
	background: #0f2350; /* ”Z—• */
	padding: 3px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

	form input {
		border: 0;
		padding: 10px;
		width: 90%;
		margin-right: .5%;
		background-color: #e8ecef; /* ”’‰ÔF */
	}

	form button {
		width: 9%;
		background: #0095d9; /* Â */
		border: none;
		padding: 10px;
		color: #fbfaf5; /* ¶¬‚èF */
	}

#messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

	#messages li {
		margin: 5px 5px;
		padding: 10px 10px;
		-moz-border-radius: 10px 10px;
		-webkit-border-radius: 10px 10px;
		border-radius: 10px 10px;
	}

		#messages li.user {
			background-color: #68be8d; /* á’|F */
			color: #f7fcfe; /* ‰K‚Ì‰ÔF */
		}

		#messages li.bot {
			background-color: #eaf4fc; /* Œ”’ */
			color: #0d0015; /* ½• */
		}

		#messages li.user span.clientId:before {
			content: "\f007"; /* fa-user */
			font-family: FontAwesome;
			padding-right: 0.5em;
			font-size: 1.2em;
		}

		#messages li.bot span.clientId:before {
			content: "\f118"; /* fa-smile-o */
			font-family: FontAwesome;
			padding-right: 0.5em;
			font-size: 1.2em;
		}

span.clientId {
	display: inline-block;
	margin-right: 1em;
	width: 4em;
	vertical-align: middle;
}

span.clientMessage {
	display: inline-block;
	vertical-align: middle;
}
